body{
  font-size: 14px;
  background: #6f7878;
  margin: 0;
  font-family: "Avant Garde";
  color: white;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.container{
  width: 960px;
  margin: 0 auto;
}


/* Banner section */
.banner-image{
  background-image: url('../Images/Website-Design-Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45rem;
  border-bottom: 1px dashed white;
}

.banner{
  justify-content: flex-end;
}

.banner-text h1{
  color: white;
  opacity: .8;
  margin-top: 20rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.banner-text:hover{
  transition:
}

/* Fixed menu */
.header{
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
}

.header img{
  height: 3.2rem;
  padding-right: 1rem;
  transition: height 2s, transform 2s;
}

.header img:hover{
  height: 3.5rem;
  transform: rotate(360deg);
  cursor: pointer;
}

.logo{
  align-items: center;
}

.main-menu a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.main-menu a:hover{
  cursor: pointer;
  border-bottom: 1px dashed white;
}

/* About Section */
.about{
  justify-content: center;
  padding-bottom: 2rem;
  border-bottom: 1px dashed white;
}

.bio{
  justify-content: center;
}

.bio img{
  max-height: 15rem;
  border-radius: 50%;
  border: 1px dashed white;
}

.description{
  justify-content: center;
  font-size: 1.2rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* Skill Section */
.skill-set{
  background: linear-gradient(-90deg, #6f7878, #c7d0c9, #6f7878);
  border-bottom: white 1px dashed;
}

.skills{
  justify-content: center;
  padding: 2rem;
}

.skills img{
  padding: 2.5rem;
  flex-wrap: wrap;
  transition: all 0.3s;
  height: 8rem;
}

.skills img:hover{
  transform: scale(1.2);
}

/* Skill Hover text*/
.icon:hover .image{
  opacity: 0.3;
}

.icon:hover .middle{
  opacity: 1;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.text{
  background-color: #cad2cb;
  background-blend-mode: lighten;
  color: #454a4a;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 25%;
  opacity: .75;
}

.image{
  opacity: 1;
  transition: .5s ease;
  display: block;
}

.icon{
  position: relative;
}


/* Resume download */

/* Work Examples */
.heading{
  justify-content: center;
}

.heading h1{
  font-weight: normal;
  font-size: 2.2rem;
  padding-top: 2rem;
}

.work-examples{
  justify-content: center;
  margin-bottom: 5rem;
}

.project{
  padding: 2rem;
}

.project img{
  max-width: 20rem;
  max-height: 20rem;
  transition: all 0.3s;
}

.project img:hover{
  transform: scale(1.25);
  cursor: pointer;
}

#agent{
  border-left: 1px dashed white;
}

#times{
  border-top: 1px dashed white;
}

#tea{
  border-left: 1px dashed white;
  border-top: 1px dashed white;
}

/* Investors & Contact info */
.contact{
  justify-content: center;
  padding-bottom: 3rem;
}

.contact img{
  border: dashed 1px white;
}

/* Footer */
.footer{
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: linear-gradient(-90deg, #6f7878, #c7d0c9, #6f7878);
  box-shadow: 10px 10px 10px black;
  border: 1px dashed white;
  font-size: 1rem;
}

.footer img{
  height: 3.2rem;
  padding-right: 2rem;
}

/* Screen-size Adjustments */

/* Mobile */
@media only screen and (max-width: 480px){
  body{
    margin: 0;
    width: 100%;
  }

  .header{
    padding: 0;

  }
  .container{
    width: 100%;
  }

  #tea, #agent{
    border-left: 0;
  }

  #optics{
    border-bottom: 1px dashed white;
  }

  .skills{
    padding: 0;
  }

  .project{
    padding: 2rem 0;
  }
  .contact img{
    width: 100%;
  }

  .footer{
    padding: 0;
  }

  .contact img{
    width: 75%;
    height: 75%;
  }

  .icon{
    max-width: 8rem;
  }
}
